<div>
  <!-- header area start -->
  <app-header-one [top_bar]="false" header_cls="header__white-solid" bottom_cls=" " [header_solid]="true" [common_offcanvas]="true"></app-header-one>
  <!-- header area end -->

  <main>

    <!-- job details area start -->
    <section class="job__details-area pt-120 pb-140">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
              <div class="job__details-wrapper">
                <div class="job__details-content mb-50">
                    <div class="job__details-tag mb-10">
                      <span>Trainee</span>
                    </div>
                    <h3 class="job__details-title">Javascript Developer (Full-Time)</h3>
                    <div class="job__meta-wrapper job__details-meta mb-60 d-sm-flex flex-wrap align-items-center">
                      <div class="job__meta-item">
                          <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 8C15 11.864 11.864 15 8 15C4.136 15 1 11.864 1 8C1 4.136 4.136 1 8 1C11.864 1 15 4.136 15 8Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.5826 10.2259L8.41256 8.93093C8.03456 8.70693 7.72656 8.16793 7.72656 7.72693V4.85693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Full-Time
                          </span>
                          <span>
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.03611 9.003C8.2426 9.003 9.22065 8.02495 9.22065 6.81846C9.22065 5.61197 8.2426 4.63391 7.03611 4.63391C5.82962 4.63391 4.85156 5.61197 4.85156 6.81846C4.85156 8.02495 5.82962 9.003 7.03611 9.003Z" stroke="currentColor" stroke-width="1.5"/>
                                <path d="M1.16997 5.54414C2.54932 -0.519378 11.5326 -0.512376 12.9049 5.55114C13.7101 9.10803 11.4976 12.1188 9.55807 13.9812C8.15072 15.3396 5.92416 15.3396 4.50981 13.9812C2.57732 12.1188 0.36477 9.10103 1.16997 5.54414Z" stroke="currentColor" stroke-width="1.5"/>
                            </svg>
                            Hawthorne, CA, United states
                          </span>
                          <span>
                            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.32662 7.74699C9.18975 7.74699 10.7001 6.23662 10.7001 4.37349C10.7001 2.51036 9.18975 1 7.32662 1C5.46349 1 3.95312 2.51036 3.95312 4.37349C3.95312 6.23662 5.46349 7.74699 7.32662 7.74699Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.8072 15C12.8072 12.3889 10.1613 10.2771 6.90361 10.2771C3.64597 10.2771 1 12.3889 1 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            No. of Vacancies: 2
                          </span>
                          <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.37844 15H11.1216C14.0075 15 14.5244 13.873 14.6751 12.501L15.2135 6.90099C15.4074 5.19299 14.9048 3.79999 11.8394 3.79999H4.66055C1.59516 3.79999 1.09264 5.19299 1.28647 6.90099L1.82489 12.501C1.97565 13.873 2.49253 15 5.37844 15Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.375 3.8V3.24C5.375 2.001 5.375 1 7.67225 1H8.82087C11.1181 1 11.1181 2.001 11.1181 3.24V3.8" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.68406 8.7V9.4C9.68406 9.407 9.68406 9.407 9.68406 9.414C9.68406 10.177 9.67688 10.8 8.24828 10.8C6.82686 10.8 6.8125 10.184 6.8125 9.421V8.7C6.8125 8 6.8125 8 7.53039 8H8.96617C9.68406 8 9.68406 8 9.68406 8.7Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.1794 7.29999C13.521 8.47599 11.6258 9.17599 9.6875 9.41399" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.51562 7.48898C3.13088 8.56698 4.95432 9.21798 6.81365 9.42098" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Experience: Fresher
                          </span>
                      </div>
                      <div class="job__tag">
                          <span>Design </span>
                      </div>
                    </div>
                    <div class="job__details-thumb m-img mb-60">
                      <img src="/assets/img/job/details/job-details-1.jpg" alt="">
                    </div>
                    <p>We’re a collective of thinkers and tinkerers—designers, engineers, writers, and strategists building the platform to change the way apps are built. Our work is inspired by a shared belief that app creation should be simple, accessible, and enjoyable to everyone on the planet.</p>
                </div>
                <div class="job__details-about mb-35">
                    <h3 class="job__details-about-title">About the role</h3>
                    <p>Erat eleifend lacus mattis at porttitor at mauris vel pharetra. Consequat, dictum et magna augue. Risus maecenas morbi ante scelerisque consequat. Id mi porttitor dui platea mauris. Accumsan, consequat feugiat at vitae laoreet pulvinar volutpat.A place where each of us can do our best work, and feel good about it. As Peter Drucker famously said, culture “eats strategy for breakfast,” so we do our best to maintain a healthy work environment that is conducive to business.</p>
                </div>
                <div class="job__details-list-wrapper">
                    <div class="row">
                      <div class="col-lg-6">
                          <div class="job__details-list mb-60">
                            <h3 class="job__details-list-title">Career Benefits</h3>

                            <ul>
                                <li>Experiences in docker development techniques.</li>
                                <li>Since we are an agile team, you will learn and practice Agile.</li>
                                <li>Experiences in docker development techniques.</li>
                                <li>Opportunities to expand your knowledge.</li>
                                <li>A Certificate will be provided after completion.</li>
                            </ul>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="job__details-list mb-60">
                            <h3 class="job__details-list-title">Offer Great Benefits.</h3>

                            <ul>
                                <li>Company-wide 401(k) plan</li>
                                <li>Life & disability insurance offered</li>
                                <li>Ompetitive compensation—salary, bonus, equity</li>
                                <li>Medical, dental, and vision; flex spending account</li>
                                <li>Flexible paid time off & sick leave</li>
                            </ul>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="job__details-list mb-40">
                    <h3 class="job__details-list-title-2">Educational Requirements</h3>

                    <ul>
                      <li>Experiences in competitive programming will get priority access.</li>
                      <li>Bachelor of Science (BSc) in Computer Science & Engineering or equivalent field.</li>
                      <li>A good profile with StackOverflow and Hackathon will get priority access</li>
                    </ul>
                </div>
                <div class="job__details-info-wrapper">
                    <div class="job__details-info">
                      <h3 class="job__details-info-title">Salary range: –</h3>
                      <p><span>$80k to $100k</span> (Based on your experience).</p>
                    </div>
                    <div class="job__details-info">
                      <h3 class="job__details-info-title">Working days</h3>
                      <p>Weekly 05 days. Sunday To Thursday. <span>09 AM to 06 PM</span>.(Launch Break 01 Hour)</p>
                    </div>
                </div>
                <div class="job__details-deadline">
                    <p>Application Deadline: <span>October 24, 2022</span></p>
                </div>
                <div class="job__details-cv">
                    <p>Please, upload your CV in PDF format.</p>
                </div>
                <div class="job__details-btn">
                    <button (click)="handleOpenJobForm()" type="button" class="tp-btn job-form-open-btn">Apply for this position</button>
                </div>

                <div *ngIf="open_job_form" class="job__form job-apply-form mt-40">
                    <h3 class="job__form-title">Personal Details</h3>
                    <form action="#">
                      <div class="job__form-main mb-20">
                          <div class="row">
                            <div class="col-md-6">
                                <div class="job__input">
                                  <input type="text" placeholder="Enter your username">
                                  <span>
                                      <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 9C11.2091 9 13 7.20914 13 5C13 2.79086 11.2091 1 9 1C6.79086 1 5 2.79086 5 5C5 7.20914 6.79086 9 9 9Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M15.5 17.6C15.5 14.504 12.3626 12 8.5 12C4.63737 12 1.5 14.504 1.5 17.6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="job__input">
                                  <input type="email" placeholder="Enter your email">
                                  <span>
                                      <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13 14.6H5C2.6 14.6 1 13.4 1 10.6V5C1 2.2 2.6 1 5 1H13C15.4 1 17 2.2 17 5V10.6C17 13.4 15.4 14.6 13 14.6Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13 5.3999L10.496 7.3999C9.672 8.0559 8.32 8.0559 7.496 7.3999L5 5.3999" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="job__input">
                                  <input type="text" placeholder="Phone number">
                                  <span>
                                      <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.9148 5V13C13.9148 16.2 13.1076 17 9.87892 17H5.03587C1.80717 17 1 16.2 1 13V5C1 1.8 1.80717 1 5.03587 1H9.87892C13.1076 1 13.9148 1.8 13.9148 5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path opacity="0.4" d="M9.08026 3.80054H5.85156" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path opacity="0.4" d="M7.45425 14.6795C8.14522 14.6795 8.70537 14.1243 8.70537 13.4395C8.70537 12.7546 8.14522 12.1995 7.45425 12.1995C6.76327 12.1995 6.20312 12.7546 6.20312 13.4395C6.20312 14.1243 6.76327 14.6795 7.45425 14.6795Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="job__input">
                                  <input type="text" placeholder="Address">
                                  <span>
                                      <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.99377 10.1461C9.39262 10.1461 10.5266 9.0283 10.5266 7.64946C10.5266 6.27061 9.39262 5.15283 7.99377 5.15283C6.59493 5.15283 5.46094 6.27061 5.46094 7.64946C5.46094 9.0283 6.59493 10.1461 7.99377 10.1461Z" stroke="currentColor" stroke-width="1.5"/>
                                        <path d="M1.19707 6.1933C2.79633 -0.736432 13.2118 -0.72843 14.803 6.2013C15.7365 10.2663 13.1712 13.7072 10.9225 15.8357C9.29079 17.3881 6.70924 17.3881 5.06939 15.8357C2.8288 13.7072 0.263493 10.2583 1.19707 6.1933Z" stroke="currentColor" stroke-width="1.5"/>
                                      </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="job__input">
                                  <input type="text" placeholder="Current company">
                                  <span>
                                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 6.6L8.2 1L15.4 6.6V15.4C15.4 15.8243 15.2314 16.2313 14.9314 16.5314C14.6313 16.8314 14.2243 17 13.8 17H2.6C2.17565 17 1.76869 16.8314 1.46863 16.5314C1.16857 16.2313 1 15.8243 1 15.4V6.6Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.79688 17V9H10.5969V17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                  </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="job__input">
                                  <app-nice-select [options]="genderOptions" name="Select Gender" [defaultCurrent]="0" (onChange)="changeHandler($event)" placeholder="Select G ender"></app-nice-select>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="job__form-details">
                          <div class="row">
                            <h3 class="job__form-details-title">Others Details</h3>
                            <div class="col-lg-4 col-md-6">
                                <div class="job__input no-icon">
                                  <input type="tel" placeholder="Expected salary">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="job__input no-icon">
                                  <input type="text" placeholder="LinkedIn profile link">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="job__input no-icon">
                                  <input type="text" placeholder="Facebook profile link">
                                </div>
                            </div>
                          </div>
                          <p>How did you find out about Harry ? Do you know any of our external initiatives (like workshops, <br> meetups, etc)? If you do, please write its name.*</p>

                          <div class="job__input input-sm no-icon">
                            <input type="text" placeholder="Example Meetup.com">
                          </div>

                          <div class="job__form-level">
                            <h3 class="job__form-level-title">What level do you apply for?*</h3>
                            <div class="job__form-level-input">
                                <input id="junior" type="radio" name="level">
                                <label for="junior">Junior</label>
                            </div>
                            <div class="job__form-level-input">
                                <input id="mediior" type="radio" checked name="level">
                                <label for="mediior">Medior</label>
                            </div>
                            <div class="job__form-level-input">
                                <input id="senior" type="radio" name="level">
                                <label for="senior">Senior</label>
                            </div>
                          </div>
                          <div class="job__form-btn d-sm-flex align-items-start">
                            <div class="job__form-btn-inner">
                                <button type="button" class="tp-btn">Submit Application</button>
                            </div>
                            <div class="job__form-btn-inner">
                                <input type="file" id="cv">
                                <label for="cv" class="tp-btn is-purple">Upload Resume</label>
                            </div>
                          </div>
                      </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
    </section>
    <!-- job details area end -->

  </main>

  <!-- footer area start -->
  <app-footer-six [style_2]="true"></app-footer-six>
  <!-- footer area end -->
</div>
